*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  padding: 3rem;
  font-family: 'Raleway', sans-serif;
  height: auto;
}