@import "variables";
@import "mixin";


.listContainer{
    width: 800px;
    margin-top: 2rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    border: 1px solid $bgColor;
    background-color: $btnBgColor;
    border-radius: 15px;
    li:first-child{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    li:last-child{
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}